@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", "Sans-serif";
}

@media screen and (min-width: 480px) {
  .title {
    text-align: center;
  }
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
}

li {
  margin: 10px 10px;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ol div {
  width: max-content;
}
